@import 'bootstrap';

.navbar {
	border-radius: 0px;
	font-size: 16px;
	padding-left: 150px;
	padding-right: 150px;
	margin: 0px;
	background-color: white;
}

.navbar-default .navbar-nav > li > a {
	color: #f0ad4e
}

.navbar-brand {
	font-size: 22px;
}

.navbar-default .navbar-brand {
	color: #f0ad4e;
}

.banner-home {
	height: 550px;
	background-color: #f0ad4e;
	padding: 60px;
}

.banner-logo {
	margin: 30px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.banner-logo-content {
	display:inline-block;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid;
	border-radius: 5px;
	font-size: 108px;
	color: white;
}

.banner-textbox {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.banner-textbox-content {
	display:inline-block;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: auto;
	margin-left: auto;
	font-size: 35px;
	color: white;
}

.banner-description {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.banner-description-content {
	display:inline-block;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	color: white;
}

.banner-version {
	margin: 30px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;

}

.banner-version-content {
	display:inline-block;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid;
	border-radius: 5px;
	font-size: 30px;
	color: white;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
